autopep8==1.6.0
blinker==1.4
cachelib==0.6.0
certifi==2021.10.8
click==8.1.2
colorama==0.4.4
distlib==0.3.4
filelock==3.6.0
Flask==2.1.1
Flask-Mail==0.9.1
flask-msearch==0.2.9.2
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
pipenv==2022.4.21
platformdirs==2.5.2
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycodestyle==2.8.0
six==1.16.0
SQLAlchemy==1.4.35
sqlparse==0.4.2
termcolor==1.1.0
toml==0.10.2
virtualenv==20.14.1
virtualenv-clone==0.5.7
Werkzeug==2.1.1
