{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="wrapper" bkg-c="0">
        <form action="/login" method="post">
            <h2>login</h2>
            <input name="username" autocomplete="off" placeholder="Username" type="text">
            <input name="password" autocomplete="off" placeholder="Password" type="password">
            <p>Don't have an account? <a href="/register">Sign up</a></p>
            <button class="btn" type="submit">Login</button>
        </form>
    </div>
{% endblock %}