{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <div class="wrapper" bkg-c="0"s>
        <form action="/change_password" method="post">
            <h2>Change password</h2>
            <input name="old_password" autocomplete="off" placeholder="Old password" type="password">
            <input name="new_password" autocomplete="off" placeholder="New password" type="password">
            <input name="confirmation" autocomplete="off" placeholder="New password (again)" type="password">
            <button class="btn" type="submit">Confirm</button>
        </form>
    </div>
{% endblock %}