<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/error.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="xs-12 md-6 mx-auto">
                    <div id="countUp">
                        <div class="number" data-count="404">{{ code }}</div>
                        <div class="text">{{ t1 }}</div>
                        <div class="text "><a style="color: #fff" href="/">Return home</a></div>
                    </div>
                </div>
            </div>
        </div>
        <script scr="/static/c.js"></script>
    </body>
</html>