{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="row mt-3">
        <div class="col-6">
            <a href="{{url_for('upload_method',param='video')}}" style="text-decoration: none;">
                <div class="card mx-auto" style="width: 18rem; height: 15rem;">
                    <img class="card-img-top" style="height: 15rem;" src="../static/images/video.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text ">My Viral Video</p>
                    </div>
                </div>
            </a>
        </div> 
        <div class="col-6">
            <div class="card mx-auto" style="width: 18rem; height: 15rem;">
                <img class="card-img-top" style="height: 15rem;" src="../static/images/music.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text ">My Viral Music</p>
                </div>
              </div>
        </div>

    </div>
    <div class="content-area">
        <div class="heading">
            <p>Lastest Content</p>
        </div>
        <main>

            <div class="videos-container">
            {% for file in files.items %}
                {% if file.method == 'upload' %}
                    <div class="video">
                        <div class="thumbnail">
                            <a href="{{ url_for('video', filename=file.video) }}"><img src="{{ url_for('image', filename=file.image) }}"></a>
                        </div>
                        <div class="video-details">

                            <div class="title">
                                <a href="{{ url_for('video', filename=file.video) }}" class="video-title">
                                    {{ file.title }}
                                </a>
                                <span>{{ file.date }}</span>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="video">
                        <div class="thumbnail">
                            <a href="{{ url_for('video', filename=file.video) }}"><img src="{{ file.image_link }}"></a>
                        </div>
                        <div class="video-details">
                    
                            <div class="title">
                                <a href="{{ url_for('video', filename=file.video) }}" class="video-title">
                                    {{ file.title }}
                                </a>
                                <span>{{ file.date }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>

        </main>
    </div>
    <div class="slider">
        <div class="holder">
        {% for page_num in files.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if files.page == page_num %}
                    <a class="active-page" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="page-button" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}