<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="/static/style1.css">
    <title>Index</title>
</head>
<body>
    <nav class="navbar">
        <div class="container nav-container">

            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>

            <div class="logo">
              <h1>Raptor</h1>
            </div>


            <div class="search">
              <a href="#"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                width="40" height="40"
                viewBox="0 0 172 172"
                style=" fill:#4a90e2;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#0e2431"><path d="M72.24,10.32c-32.33062,0 -58.48,26.14938 -58.48,58.48c0,32.33063 26.14938,58.48 58.48,58.48c11.54281,0 22.22563,-3.38625 31.2825,-9.1375l42.2475,42.2475l14.62,-14.62l-41.71,-41.6025c7.49813,-9.83625 12.04,-22.02406 12.04,-35.3675c0,-32.33062 -26.14937,-58.48 -58.48,-58.48zM72.24,24.08c24.76531,0 44.72,19.95469 44.72,44.72c0,24.76531 -19.95469,44.72 -44.72,44.72c-24.76531,0 -44.72,-19.95469 -44.72,-44.72c0,-24.76531 19.95469,-44.72 44.72,-44.72z"></path></g></g></svg></a>
            </div>

            <div class="menu-items">
              <li><a href="/">Home</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/upload">Upload</a></li>

            </div>

        </div>
    </nav>

    <div class="heading">
        <p>Lastest leaks</p>
    </div>

    <div class="content-area">
        <main>

            <div class="videos-container">
            {% for file in files %}
                <div class="video">
                    <div class="thumbnail">
                        <a href="{{ url_for('video', filename=file.video) }}"><img src="{{ url_for('image', filename=file.image) }}"></a>
                    </div>
                    <div class="video-details">

                        <div class="title">
                            <a href="{{ url_for('video', filename=file.video) }}" class="video-title">
                                {{ file.title }}
                            </a>
                            <span>{{ file.date }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </main>
    </div>
</body>
</html>