{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="wrapper" bkg-c="0">
        <form action="/register" method="post">
            <h2 class="sub-heading">Register</h2>
            <input name="email" autofocus autocomplete="off" placeholder="Email" type="email">
            <input name="username" autocomplete="off" placeholder="Username" type="text">
            <input name="password" autocomplete="off" placeholder="Password" type="password">
            <input name="confirmation" autocomplete="off" placeholder="Password (again)" type="password">
            <p>Already have an account? <a href="/login">Login</a> </p>
            <button class="btn"  type="submit">Register</button>
        </form>
    </div>
{% endblock %}