{% extends "layout.html" %}

{% block title %}
    Search 
{% endblock %}

{% block main %}

    <div class="heading">
        <p>Results for: {{ srh }}</p>
    </div>

    <div class="content-area">
        <main>

            <div class="videos-container">
            {% for file in files %}
                {% if file.method == 'upload' %}
                <div class="video">
                    <div class="thumbnail">
                        <a href="{{ url_for('video', filename=file.video) }}"><img
                                src="{{ url_for('image', filename=file.image) }}"></a>
                    </div>
                    <div class="video-details">
                
                        <div class="title">
                            <a href="{{ url_for('video', filename=file.video) }}" class="video-title">
                                {{ file.title }}
                            </a>
                            <span>{{ file.date }}</span>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="video">
                    <div class="thumbnail">
                        <a href="{{ url_for('video', filename=file.video) }}"><img src="{{ file.image_link }}"></a>
                    </div>
                    <div class="video-details">
                
                        <div class="title">
                            <a href="{{ url_for('video', filename=file.video) }}" class="video-title">
                                {{ file.title }}
                            </a>
                            <span>{{ file.date }}</span>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>

        </main>
    </div>
{% endblock %}