{% extends "layout.html"%}

{% block link %}
    <link href="https://vjs.zencdn.net/7.18.1/video-js.css" rel="stylesheet" />
{% endblock %}

{% block title %}
    Vid
{% endblock %}

{% block big %}
    {% if data.method == 'upload' %}
        <div class="playcard">
            <div class="card-title">
                <h1>
                    {{ data.title }}
                </h1>
            </div>
            <div class="category-container">
                <div class="category">
                    <span class="category-card">
                        CATEGORIES
                    </span>
                    <span class="values-card">
                        <a href="">{{ data.category }}</a>
                    </span>
                </div>

                <span class="date-container">{{ data.date }}</span>
            </div>
            <div class="play-container">
                <video  id="media-player" class="video-js vjs-big-play-centered" controls muted data-setup="{fluid: true}">
                    <source src="/static/videos/{{ vidx }}" type="video/mp4">
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that
                        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
            <div class="card-title">
                <h3>
                    {{ data.description }}
                </h3>
            </div>
            <div class="account-redirect">
                <a href="">More like this video</a>
            </div>
        </div>
    {% else %}
        <div class="playcard">
            <div class="card-title">
                <h1>
                    {{ data.title }}
                </h1>
            </div>
            <div class="category-container">
                <div class="category">
                    <span class="category-card">
                        CATEGORIES
                    </span>
                    <span class="values-card">
                        <a href="">{{ data.category }}</a>
                    </span>
                </div>
        
                <span class="date-container">{{ data.date }}</span>
            </div>
            <div class="play-container">
                <video id="media-player" class="video-js vjs-big-play-centered" controls muted data-setup="{fluid: true}">
                    <source src="{{ data.video_link }}" type="video/mp4">
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that
                        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
            <div class="card-title">
                <h3>
                    {{ data.description }}
                </h3>
            </div>
            <div class="account-redirect">
                <a href="">More like this video</a>
            </div>
        </div>
    {% endif %}

    <div class="videos-container">
        {% for file in files %}
            {% if file.method == 'upload' %}
                <div class="video">
                    <div class="thumbnail">
                        <a href="{{ url_for('video', filename=file.video) }}"><img
                                src="{{ url_for('image', filename=file.image) }}"></a>
                    </div>
                    <div class="video-details">
            
                        <div class="title">
                            <a href="{{ url_for('video', filename=file.video) }}" class="video-title">
                                {{ file.title }}
                            </a>
                            <span>{{ file.date }}</span>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="video">
                    <div class="thumbnail">
                        <a href="{{ url_for('video', filename=file.video) }}"><img src="{{ file.image_link }}"></a>
                    </div>
                    <div class="video-details">
            
                        <div class="title">
                            <a href="{{ url_for('video', filename=file.video) }}" class="video-title">
                                {{ file.title }}
                            </a>
                            <span>{{ file.date }}</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="video-comments">
        {% for comment in comments %}
        <div class="individual-comment">
            <div class="individual-comment-title">
                <p><span class="bold-user">{{ comment.username }}</span> on {{ comment.date }} at {{ comment.time }}</p>
            </div>
            <div class="individual-comment-content">
                <p>{{ comment.comment }}</p>
            </div>
        </div>
        {% endfor %}

        <form action="/video/{{ vidx }}" method="POST">
            <label for="vid-comment">Write a Comment</label>
            <textarea name="comment" id="vid-comment" rows="3"></textarea>
            <button class="btn" type="submit">Submit Comment</button>
        </form>
    </div>

{% endblock %}

{%block footer %}
    <footer class="footer">
        <p>Copyright @ Raafat</p>
    </footer>
{% endblock %}

{% block script %}
    <script src="https://vjs.zencdn.net/7.18.1/video.min.js"></script>
{% endblock %}